<div id="left-panel">
  <!-- Captured by Red (Player 1) -->
  <div id="captured-by-player1" class="captured-panel">
    <h2>{{ loc.translate('capturedByRedLabel') }}</h2>
    <div class="pieces-container">
      <ng-container *ngIf="capturedByRed.length === 0">
        <span class="captured-none-text">
          {{ loc.translate('capturedNone') }}
        </span>
      </ng-container>
      <div
        *ngFor="let p of capturedByRed"
        class="captured-piece player0"
        [title]="p.type"
      >
        <img
          [src]="'assets/images/head_no_background/' + p.type + '.png'"
          [alt]="p.type"
        />
      </div>
    </div>
  </div>

  <!-- Left Panel Buttons -->
  <div id="left-panel-actions">
    <div class="panel-button-group">
      <button (click)="openRules.emit()" class="panel-btn rules-btn">
        📖 {{ loc.translate('rulesButton') }}
      </button>

      <button (click)="resetGame.emit()" class="panel-btn reset-btn">
        {{ loc.translate('resetButton') }}
      </button>

      <button
        (click)="undoMove.emit()"
        [disabled]="!canUndo"
        class="panel-btn undo-btn"
      >
        Hoàn nước
      </button>

      <button (click)="randomizeBoard.emit()" class="panel-btn random-btn">
        Bàn cờ ngẫu nhiên
      </button>
    </div>
  </div>
</div>
