<div id="left-panel">
  <!-- Captured by Red (Player 1) -->
  <div id="captured-by-player1" class="captured-panel">
    <h2>
      <span class="player-name-label red-name">{{ playerName || loc.translate('capturedByRedLabel') }}</span>
      <span *ngIf="playerName" class="side-color-dot red-dot"></span>
    </h2>
    <div class="pieces-container">
      <ng-container *ngIf="capturedByRed.length === 0">
        <span class="captured-none-text">
          {{ loc.translate('capturedNone') }}
        </span>
      </ng-container>
      <div
        *ngFor="let p of capturedByRed"
        class="captured-piece player0"
        [title]="p.type"
      >
        <img
          [src]="'assets/images/head_no_background/' + p.type + '.png'"
          [alt]="p.type"
        />
      </div>
    </div>
  </div>

  <!-- Left Panel Buttons -->
  <div id="left-panel-actions">
    <div class="panel-button-group">
      <button (click)="openRules.emit()" class="panel-btn rules-btn">
        📖 {{ loc.translate('rulesButton') }}
      </button>

      <button *ngIf="!onlineMode" (click)="resetGame.emit()" class="panel-btn reset-btn">
        {{ loc.translate('resetButton') }}
      </button>

      <button
        *ngIf="!onlineMode || showUndo"
        (click)="undoMove.emit()"
        [disabled]="!canUndo"
        class="panel-btn undo-btn"
      >
        {{ loc.translate('undoButton') }}
      </button>

      <button *ngIf="!onlineMode" (click)="randomizeBoard.emit()" class="panel-btn random-btn">
        {{ loc.translate('randomizeBoardButton') }}
      </button>

      <button *ngIf="onlineMode" (click)="backToLobby.emit()" class="panel-btn leave-btn">
        {{ loc.translate('backToLobbyBtn') }}
      </button>
    </div>
  </div>
</div>
