<div id="right-panel">
  <!-- Captured by Blue (Player 0) -->
  <div id="captured-by-player0" class="captured-panel">
    <h2>
      <span class="player-name-label blue-name">{{ playerName || loc.translate('capturedByBlueLabel') }}</span>
      <span *ngIf="playerName" class="side-color-dot blue-dot"></span>
    </h2>
    <div class="pieces-container">
      <ng-container *ngIf="capturedByBlue.length === 0">
        <span class="captured-none-text">
          {{ loc.translate('capturedNone') }}
        </span>
      </ng-container>
      <div
        *ngFor="let p of capturedByBlue"
        class="captured-piece player1"
        [title]="p.type"
      >
        <img
          [src]="'assets/images/head_no_background/' + p.type + '.png'"
          [alt]="p.type"
        />
      </div>
    </div>
  </div>

  <!-- Turn Indicator -->
  <p class="turn-info">
    <span>{{ loc.translate('turnLabel') }} </span>
    <span [style.color]="currentTurn === 0 ? 'blue' : 'red'">
      {{ turnPlayerName || getTurnText() }}
    </span>
  </p>
</div>
